.left, .center {
    float: left;
}
.left {
    background-color: red;
    width: 200px;
    height: 200px;
}
.center {
    background: yellow;
    width: 700px;
    height: 300px;
}
.right {
    background-color: blue;
    height: 200px;
}

.parent{
	width: 200px;
	height:100px;
	background-color: red;
}
.child{
	width: 100%;
	padding:25% 0;
	background-color: yellow;
}