#canvas {
    position: absolute;
	border: thin solid red;
}

.item1{
	position: relative;
	left:100px;top:100px;
	width:200px;
	height:200px;
	border-top: solid 2px;
    border-left: solid 2px;
	background: #fd0000;
	/*border-radius: 50%;*/
	transform: rotate(45deg);
    /*transform-origin: top right;*/
	display: flex;
    justify-content: center;
    align-items: center;
}
.item1-text{
	display: inline-block;
	transform: rotate(-45deg);
    font-size: 130px;
    font-family: cursive;
    color: yellow;
}
.item1:hover {
    transform: perspective(300px) rotateY(60deg);
}
.item1-text:hover{
	transform: none;
}

.transition,.message,.box{
	position: relative;
}
.transition,.box{
	margin-top: 300px;
}
.transition {
  width: 100px;
  height: 100px;
  background: rgba(255,0,0,1);
  transition-property: transform background;
  transition-duration: 2s;
  transition-delay: 2s;
}

.transition:hover {
  transform: rotate(90deg);
  background: rgba(255,0,0,0);
}

.box {
  margin-left: 70px;
  margin-top: 30px;
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  color: #FFFFFF;
  padding: 20px;
  font: bold 1.6em "Helvetica", "Arial", sans-serif;
  transition: width 2s, height 2s, background-color 2s, transform 2s, color 2s;
}

.box:hover {
  background-color: #FFCCCC;
  color: #000000;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}