<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>www.bootstrapmb.com - When in doubt, dance it out!!</title>
  <link rel="stylesheet" href="../css/duck.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="chick"> 
    <div class="face">
      <div class="l-face-cover"></div>
      <div class="r-face-cover"></div>
      <div class="l-eye"></div>
      <div class="r-eye"></div>
      <div class="beak"></div>
      <div class="l-feather"></div>
      <div class="r-feather"></div>
    </div>
    <div class="body">
      <div class="l-leg"></div>
      <div class="r-leg"></div>
      <div class="l-hand"></div>
      <div class="r-hand"></div>
    </div>

  </div>
</div>
<!-- partial -->
  
</body>
</html>
