<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>

    <div class="container">
        <div class="loading-wrap">
            <i class="part loading hardWare eleCircle"></i>
            <span class="part loading-text"></span>
        </div>
        <ul class="content-list">
            <li class="content-li">
                <div class="page p0">
                    <div class="part p0__bubble"></div>
                    <div class="part p0__t_1"></div>
                    <div class="part p0__t_2"></div>
                    <div class="part p0__t_3"></div>
                </div>
            </li>
            <li class="content-li">
                <div class="page p1">
                    <div class="part flip-container p1__main">
                        <div class="flipper p1__flipper">
                            <div class="front">
                                <div class="f_img p1__f_img"></div>
                            </div>
                            <div class="back">
                                <div class="b_img p1__b_img"></div>
                            </div>
                        </div>
                    </div>
                    <div class="part of p1__of">
                        <div class="part p1__f_des"></div>
                        <div class="part p1__f_dialogue">
                            <span class="part avatar avatar_1 p1__f_avatar_1"></span>
                            <span class="part bubble_l p1__f_bubble_1"></span>
                        </div>
                        <div class="part p1__f_1"></div>
                        <div class="part p1__f_2"></div>
                        <div class="part band p1__f_band"></div>
                    </div>
                    <div class="part ob p1__ob">
                        <div class="part p1__b_des"></div>
                        <div class="part p1__b_dialogue">
                            <span class="part avatar avatar_2 p1__b_avatar_1"></span>
                            <span class="part avatar avatar_1 p1__b_avatar_2"></span>
                            <span class="part bubble_r p1__b_bubble_1"></span>
                            <span class="part bubble_l p1__b_bubble_2"></span>
                        </div>
                        <div class="part p1__b_1"></div>
                        <div class="part p1__b_2"></div>
                        <div class="part band p1__b_band"></div>
                    </div>
                </div>
            </li>
            <li class="content-li">
                <div class="page p2">
                    <div class="part flip-container p2__main">
                        <div class="flipper p2__flipper">
                            <div class="front">
                                <div class="f_img p2__f_img"></div>
                            </div>
                            <div class="back">
                                <div class="b_img p2__b_img"></div>
                            </div>
                        </div>
                    </div>
                    <div class="part of p2__of">
                        <div class="part p2__f_des"></div>
                        <div class="part p2__f_dialogue">
                            <span class="part avatar avatar_3 p2__f_avatar_1"></span>
                            <span class="part bubble_l p2__f_bubble_1"></span>
                        </div>
                        <div class="part p2__f_1"></div>
                        <div class="part p2__f_2"></div>
                        <div class="part band p2__f_band"></div>
                    </div>
                    <div class="part ob p2__ob">
                        <div class="part p2__b_des"></div>
                        <div class="part p2__b_dialogue">
                            <span class="part avatar avatar_4 p2__b_avatar_1"></span>
                            <span class="part avatar avatar_3 p2__b_avatar_2"></span>
                            <span class="part bubble_l p2__b_bubble_1"></span>
                            <span class="part bubble_r p2__b_bubble_2"></span>
                        </div>
                        <div class="part p2__b_1"></div>
                        <div class="part p2__b_2"></div>
                        <div class="part band p2__b_band"></div>
                    </div>
                </div>
            </li>
            <li class="content-li">
                <div class="page p3">
                    <div class="part flip-container p3__main">
                        <div class="flipper p3__flipper">
                            <div class="front">
                                <div class="f_img p3__f_img"></div>
                            </div>
                            <div class="back">
                                <div class="b_img p3__b_img"></div>
                            </div>
                        </div>
                    </div>
                    <div class="part of p3__of">
                        <div class="part p3__f_des"></div>
                        <div class="part p3__f_dialogue">
                            <span class="part avatar avatar_5 p3__f_avatar_1"></span>
                            <span class="part avatar avatar_6 p3__f_avatar_2"></span>
                            <span class="part avatar avatar_5 p3__f_avatar_3"></span>
                            <span class="part avatar avatar_6 p3__f_avatar_4"></span>
                            <span class="part bubble_l p3__f_bubble_1"></span>
                            <span class="part bubble_r p3__f_bubble_2"></span>
                            <span class="part bubble_l p3__f_bubble_3"></span>
                            <span class="part bubble_r p3__f_bubble_4"></span>
                        </div>
                        <div class="part p3__f_1"></div>
                        <div class="part p3__f_2"></div>
                        <div class="part band p3__f_band"></div>
                    </div>
                    <div class="part ob p3__ob">
                        <div class="part p3__b_des"></div>
                        <div class="part p3__b_dialogue">
                            <span class="part avatar avatar_7 p3__b_avatar_1"></span>
                            <span class="part avatar avatar_6 p3__b_avatar_2"></span>
                            <span class="part avatar avatar_7 p3__b_avatar_3"></span>
                            <span class="part bubble_l p3__b_bubble_1"></span>
                            <span class="part bubble_r p3__b_bubble_2"></span>
                            <span class="part bubble_l p3__b_bubble_3"></span>
                        </div>
                        <div class="part p3__b_1"></div>
                        <div class="part p3__b_2"></div>
                        <div class="part band p3__b_band"></div>
                    </div>
                </div>
            </li>
            <li class="content-li">
                <div class="page p4">
                    <div class="part p4__t_1"></div>
                    <div class="part p4__t_2"></div>
                    <div class="part p4__t_3"></div>
                    <div class="part p4__hourglass"></div>
                    <div class="part p4__t_4"></div>
                </div>
            </li>
            <li class="content-li">
                <div class="page p5">
                    <div class="part p5__extra"></div>
                    <div class="part p5__t_1"></div>
                    <div class="part p5__t_2"></div>
                    <div class="part p5__t_3"></div>
                    <div class="part p5__t_4"></div>
                    <div class="part p5__lantern"></div>
                    <div class="part p5__act-wrap">
                        <p class="part p5__p">祝您元旦快乐
                            <!-- <br />一起参与全民“家和万事兴”行动</p> -->
                            <!-- <div class="part p5__print-wrap">
                            <i class="part p5__print"></i>
                            <i class="part p5__scanner scanner"></i>
                        </div> -->
                    </div>
                </div>
            </li>
            <!-- <li class="content-li">
                <div class="page p6">
                    <div class="part p6__extra"></div>
                    <p class="part p6__p" style="display: none;">您是第<span class="p6__number">545123</span>位参与者</p>
                    <span class="part p6__share-btn">邀请好友</span>
                </div>
                <div class="share-mask">
                    <span class="share-guide"></span>
                </div>
            </li> -->
        </ul>
        <div class="part notice-swipe-up"></div>
        <div class="part speaker" style="display:none;"></div>
        <audio id="audio" src="./bgm.mp3" loop preload="auto" autoplay="true"></audio>
    </div>
    <script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
    <script src="./js/zepto.1.1.4.min.js"></script>
    <script src="./js/jsapi_share.js"></script>
    <script src="./js/head.min.js"></script>
    <script>
        /* From: http://yaotv.qq.com/shake_tv */

        function $setCookie(a, b, c, d, e, f) {
            var g = new Date,
                c = arguments[2] || null,
                d = arguments[3] || "/",
                e = arguments[4] || null,
                f = arguments[5] || !1;
            c ? g.setMinutes(g.getMinutes() + parseInt(c)) : "", document.cookie = a + "=" + escape(b) + (c ?
                ";expires=" + g.toGMTString() : "") + (d ? ";path=" + d : "") + (e ? ";domain=" + e : "") + (f ?
                ";secure" : "")
        }

        function $getCookie(a) {
            var b = new RegExp("(^| )" + a + "(?:=([^;]*))?(;|$)"),
                c = document.cookie.match(b);
            return c ? c[2] ? unescape(c[2]) : "" : null
        }

        function param() {
            return strToJson(location.search, "?", "&")
        }

        function strToJson(a, b, c) {
            var f, g, h, d = a.replace(b, "").split(c),
                e = {};
            for (f = 0, g = d.length; g > f; f++) h = d[f].split("="), e[h[0]] = h[1];
            return e
        }

        function preImg2(a, b) {
            var d, c = $(a).css("background-image");
            return c = c.split("(")[1].split(")")[0], 0 == c.indexOf('"') && (c = c.replace(/\"/g, "")), d = new Image,
                d.onload = b, d.src = c, d
        }
        $(document).ready(function () {
            var e, f, g, h, i, a = navigator.userAgent.toLowerCase(),
                b = "android" == a.match(/android/i),
                c = a.indexOf("android"),
                d = parseFloat(a.slice(c + 8));
            b && 3 > d ? head.load("./js/sf_index_2.js",
                    "./css/p0_2.css",
                    "./css/p1_2.css",
                    "./css/p2_2.css",
                    "./css/p3_2.css",
                    function () {
                        var a = preImg(".p1__f_img");
                        a.onload = function () {
                            $(".loading-wrap").css("display", "none"), head.load(
                                "./css/p4_2.css",
                                "./css/p5_2.css",
                                "./css/p6_2.css",
                                function () {
                                    var a = preImg(".share-guide");
                                    a.onload = function () {
                                        $(".share-mask").css("display", "none")
                                    }
                                })
                        }
                    }) : head.load("./js/sf_index.js",
                    "./css/p0.css",
                    "./css/p1.css",
                    "./css/p2.css",
                    "./css/p3.css",
                    function () {
                        preImg2(".p1__f_img", function () {
                            function c() {
                                $("html").on("touchstart", function () {
                                    0 == b && (a.play(), b = 1)
                                })
                            }
                            var a, b;
                            $(".loading-wrap").css("display", "none"), a = document.querySelector(
                                "audio"), a.oncanplay = c(), b = 0, $(".speaker").css("display",
                                "block"), head.load(
                                "./css/p4.css",
                                "./css/p5.css",
                                "./css/p6.css",
                                function () {
                                    preImg2(".share-guide", function () {
                                        $(".share-mask").css("display", "none")
                                    })
                                })
                        })
                    }), e = localStorage ? localStorage.getItem("timer") : "", e = e ? e : $getCookie("spring_pv")
        }), window.onresize = function () {
            $(".content-li").each(function () {
                $(this).css("height", $(window).height())
            }), screenHeight = $(window).height()
        }, setTimeout(function () {
            $(window).resize()
        }, 1e3);
    </script>

</body>

</html>