<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>节日快乐！</title>
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <link type="text/css" href="css/index.css" rel="stylesheet" />
    <link type="text/css" href="css/card.css" rel="stylesheet" />
</head>

<body>
    <div class="main-wrapper">
        <audio id="audio" src="http://mp3.9ku.com/hot/2011/08-19/413062.mp3" loop preload="auto" autoplay="true"></audio>

        <div id="sc1">
            <iframe class="div-duck" src="pages/child-duck.html"></iframe>
            <iframe class="div-textCB" src="pages/child-text.html"></iframe>
            <iframe class="div-textNum" src="pages/child-num.html"></iframe>
            <div class="part1">
                <p class="text-top1">去年2019把我们交给了2020</p>
                <p class="text-top2">希望他对我们好点!!!</p>
                <p class="text-top3">却不曾想，它是后妈~~~</p>
            </div>
            <iframe class="part2" src="pages/child-ring.html"></iframe>
            <div class="part3">
                <p class="text-bottom1">FINALLY</p>
                <p class="text-bottom2">再见，再见，一万年~~真的永远也不再见。。。。</p>
            </div>
        </div>

        <div id="sc2">
            <div class="card">
                <div class="card__illustration">
                    <div class="card__info">
                        <h2 class="card__name">发财</h2>
                        <h3 class="card__title">大吉大利有钱有你</h3>
                        <p class="card__desc">生活再好，山川在美，都不及2021，涨工资。</p>
                    </div>
                </div>
                <div class="card__content">
                    <div class="card__info">
                        <h2 class="card__name">开心每一天</h2>
                        <h3 class="card__title">笑口常开，万事如意。</h3>
                        <p class="card__desc">新的一年，唯愿大家的烦恼像头发一样越来越少。</p>
                    </div>
                    <div class="card__actions">
                        <div class="card__info">
                            <h2 class="card__name">好运加满</h2>
                            <h3 class="card__title">坏事清零</h3>
                            <p class="card__desc">希望开心和好运和你撞个满怀.>----->
                                <----</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sc3">
            <iframe class="div-newyear" src="pages/newyear.html"></iframe>
        </div>

        <div id="sc4">
            <iframe class="div-fire" src="pages/fire.html"></iframe>
        </div>

        <div id="sc5">
            <iframe class="div-wennuan" src="pages/wennuan.html"></iframe>
        </div>

        <!-- <div id="sc6">
            <iframe class="div-fire" src="pages/fire.html"></iframe>
        </div> -->

        <!-- <div id="sc7">
            <iframe class="div-tianman" src="pages/tianman.html"></iframe>
        </div> -->

        <!-- <div id="sc8">
            <iframe class="div-fire" src="pages/fire.html"></iframe>
        </div> -->

        <div id="sc9">
            <iframe class="div-fengguan" src="pages/fengguang.html"></iframe>
        </div>

        <!-- <div id="sc10">
            <iframe class="div-fire" src="pages/fire.html"></iframe>
        </div> -->

        <div id="sc11">
            <iframe class="div-pingan" src="pages/pingan.html"></iframe>
        </div>

        <div id="sc12">
            <iframe class="div-tree" src="pages/tree.html"></iframe>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>

</html>