body{
	width:600px;
	position: relative;
}

.container{
	display: block;
}


.left{
	width: 100px;
	height: 100px;
	background: darkred;
	float:left;
}
.right{
	height: 300px;
	background: green;
	overflow: hidden;
}

.box{
	width:800px;
	border: solid 14px red;
	/*overflow: hidden;*/
	/*display: flow-root;*/
}
.child1{
	width:100px;
	height:100px;
	background: yellowgreen;
    margin: 10px;
	/* float:left; */
}
.child2{
	width:100px;
	height:100px;
	background: goldenrod;
    margin: 10px;
	/* float:left; */
}

p{
	background-color:green;
}
.para1{
	margin:20px 0;
}
.para2{
	margin:30px 0;
}


.boxSizing{
	background: linear-gradient(to left,#ff0000,#00ff00);
	height:200px;
	width: 500px;
	margin-left:25%;
	padding:20px;
	border: dashed 10px darkgray;
	overflow: auto;
}
.content{
	border:solid 2px darkcyan;
	margin:10px;
	padding:5px 8px;
	color: darkmagenta;
	width:200px;
	height: 200px;
	box-sizing: border-box;
}
